*~
.#*

.DS_Store
.dir-locals.el

.stack-work/
dist-newstyle/
.ghc.*
stack.yaml.lock
cabal.project.local

.vscode/
!.vscode/settings.json
.vim/

a.out
tmp/
test/tmp/

*.ll
*.mlgi
*.idx
*.kor
*.mo

!.golden/**/*.ll

.shake/
.malgo-work/

*.prof

.hie/
weeder.dhall

*.satysfi-aux

compile_flags.txt

sisku_config.json

target/

result*

node_modules/

.direnv/

.envrc

.claude/settings.local.json