*~
.#*

.DS_Store
.dir-locals.el

.stack-work/
dist-newstyle/
.ghc.*
stack.yaml.lock
cabal.project.local

.vscode/
.vim/

a.out
tmp/
test/tmp/

*.ll
*.grfi
*.mlgi
*.idx
*.kor
*.kor.bin

.shake/
.malgo-work/

*.prof

.hie/
weeder.dhall

*.satysfi-aux

compile_flags.txt

sisku_config.json

target/

result*

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

