#include <gc.h>
#include <inttypes.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>

// Unit
typedef struct {
  uint8_t tag;
  struct {
  } payload;
} MalgoUnit;

const MalgoUnit malgo_unit = { 0, {} };

// Cast
void *malgo_unsafe_cast(void *x) { return x; }

// Arithmetic operators
{{#magmaType}}
{{cType}} malgo_add_{{cType}}({{cType}} x, {{cType}} y) { return x + y; }
{{cType}} malgo_sub_{{cType}}({{cType}} x, {{cType}} y) { return x - y; }
{{cType}} malgo_mul_{{cType}}({{cType}} x, {{cType}} y) { return x * y; }
{{cType}} malgo_div_{{cType}}({{cType}} x, {{cType}} y) { return x / y; }
{{/magmaType}}

// Comparison operators
{{#compareType}}
int32_t malgo_eq_{{cType}}({{cType}} x, {{cType}} y) { return x == y; }
int32_t malgo_ne_{{cType}}({{cType}} x, {{cType}} y) { return x != y; }
int32_t malgo_lt_{{cType}}({{cType}} x, {{cType}} y) { return x < y; }
int32_t malgo_gt_{{cType}}({{cType}} x, {{cType}} y) { return x > y; }
int32_t malgo_le_{{cType}}({{cType}} x, {{cType}} y) { return x <= y; }
int32_t malgo_ge_{{cType}}({{cType}} x, {{cType}} y) { return x >= y; }
{{/compareType}}

// String operators
char malgo_string_at(int64_t i, char *s) { return s[i]; }

char *malgo_string_append(char *s1, char *s2) {
  char *new = GC_MALLOC(sizeof(char) * strlen(s1) * strlen(s2) + 1);
  strcpy(new, s1);
  strcat(new, s2);
  return new;
}

struct StringBuilder {
  char* buf;
  size_t capacity;
  size_t length;
};

struct StringBuilder *new_sb(void) {
  struct StringBuilder* sb = GC_MALLOC(sizeof(struct StringBuilder));
  sb->buf = GC_MALLOC(8 * sizeof(char));
  sb->capacity = 8;
  sb->length = 0;
  return sb; 
}

void sb_putc(struct StringBuilder* sb, char c) {
  while (sb->length >= sb->capacity) {
    sb->capacity += 8;
    sb->buf = GC_REALLOC(sb->buf, sizeof(char) * sb->capacity);
  }
  sb->buf[sb->length] = c;
  sb->length++;
}

void sb_puts(struct StringBuilder* sb, char* str) {
  for (size_t i = 0; i < strlen(str); i++) {
    sb_putc(sb, str[i]);
  }
}

void sb_destory(struct StringBuilder* sb) {
  GC_FREE(sb);
}

char* sb_run(struct StringBuilder* sb) {
  sb_putc(sb, '\0');
  char* ret = sb->buf;
  sb_destory(sb);
  return ret;
}

{{#toStringType}}
char *malgo_{{cType}}_to_string({{cType}} x) {
  size_t size = 4;  
  char *new = GC_MALLOC(sizeof(char) * size);
  int writed = -1;
  while (writed < 0 || writed >= size) {
    size++;
    new = GC_REALLOC(new, sizeof(char) * size);
    writed = snprintf(new, size, "%" {{{format}}} , x);
  }
  return new;
}
{{/toStringType}}

// IO functions
const MalgoUnit *malgo_exit_failure(MalgoUnit *__attribute__((unused)) unused) {
  exit(1);
}

const MalgoUnit *malgo_newline(MalgoUnit *__attribute__((unused)) unused) {
  puts("");
  return &malgo_unit;
}

const MalgoUnit *malgo_print_char(char x) {
  printf("%c", x);
  return &malgo_unit;
}

const MalgoUnit *malgo_print_string(char *x) {
  printf("%s", x);
  return &malgo_unit;
}

const MalgoUnit *malgo_flush(MalgoUnit *__attribute__((unused)) unused) {
  fflush(stdout);
  return &malgo_unit;
}

char malgo_get_char(MalgoUnit *__attribute__((unused)) unused) {
  return getchar();
}

char* malgo_get_contents(MalgoUnit *__attribute__((unused)) unused) {
  struct StringBuilder* sb = new_sb();

  char c;
  while ((c = fgetc(stdin)) != EOF) {
    sb_putc(sb, c);
  }
  return sb_run(sb);
}

// Vector
void **malgo_new_vector(int64_t len, void *init) {
  void **ptr = GC_MALLOC(sizeof(void *) * len);
  for (int64_t i = 0; i < len; i++) {
    ptr[i] = init;
  }
  return ptr;
}

void *malgo_read_vector(int64_t index, void **ptr) { return ptr[index]; }

const MalgoUnit *malgo_write_vector(int64_t index, void **ptr, void *val) {
  ptr[index] = val;
  return &malgo_unit;
}
