name: "Test"
on:
  pull_request:
  push:
jobs:
  tests-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # V31
    - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
      with:
        name: takoeight0821
        # If you chose API tokens for write access OR if you have a private cache
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: NIX_DEBUG=7 nix build -L
    - run: nix flake check
  tests-ubuntu:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # V31
    - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
      with:
        name: takoeight0821
        # If you chose API tokens for write access OR if you have a private cache
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: NIX_DEBUG=7 nix build -L
    - run: nix flake check
